*
!.gitignore
!changelog.json
!/.github
!/.github/workflows
!/.github/workflows/main.yml
!LICENSE
!README.md
!.eslintrc.js
!.prettierrc.js
!package.json
!/env
!/env/*.example
!/.docker
!/.docker/*.yml
!/.docker/dev.dockerfile
!/.docker/production.dockerfile
!/.ansible
!/.ansible/main.yml
!/.ansible/roles
!/.ansible/roles/docker_restart
!/.ansible/roles/docker_restart/tasks
!/.ansible/roles/docker_restart/tasks/main.yml
!/.ansible/roles/git_pull
!/.ansible/roles/git_pull/tasks
!/.ansible/roles/git_pull/tasks/main.yml
!/bot
!/bot/*.js
